soler-elena-system/meta-config/n8n-workflow-autos-soler.json
{
  "name": "Autos Soler — Receive & Respond",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autos-soler",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "webhookId": "f9e8d7c6-b5a4-4938-8271-605f4e3d2c1b"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "11111111-1111-4111-8111-111111111111",
              "name": "sender_id",
              "value": "={{$json.body.entry[0].messaging[0].sender.id}}",
              "type": "string"
            },
            {
              "id": "22222222-2222-4222-8222-222222222222",
              "name": "message_text",
              "value": "={{$json.body.entry[0].messaging[0].message.text}}",
              "type": "string"
            },
            {
              "id": "33333333-3333-4333-8333-333333333333",
              "name": "page_id",
              "value": "={{$json.body.entry[0].messaging[0].recipient.id}}",
              "type": "string"
            },
            {
              "id": "44444444-4444-4444-8444-444444444444",
              "name": "timestamp",
              "value": "={{$json.body.entry[0].messaging[0].timestamp}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Extract Meta Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "55555555-5555-4555-8555-555555555555",
              "leftValue": "={{$json.page_id}}",
              "rightValue": "100123132505557",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF page_id is Autos Soler",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300],
      "id": "c3d4e5f6-a7b8-4c9d-9e0f-1a2b3c4d5e6f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://courses-morning-tiny-performing.trycloudflare.com/api/conversations/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "Ok2XkP56Q-P503zT1dJWtgsS_V1b9NeRze9NOL_bDLQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"messenger\",\n  \"sender_id\": \"{{$node[\"Set Extract Meta Payload\"].json.sender_id}}\",\n  \"message_text\": \"{{$node[\"Set Extract Meta Payload\"].json.message_text}}\",\n  \"business\": \"autos_soler\",\n  \"page_id\": \"{{$node[\"Set Extract Meta Payload\"].json.page_id}}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "CRM Upsert Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220],
      "id": "d4e5f6a7-b8c9-4d0e-9f1a-2b3c4d5e6f70"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://courses-morning-tiny-performing.trycloudflare.com/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "Ok2XkP56Q-P503zT1dJWtgsS_V1b9NeRze9NOL_bDLQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mensaje\": \"{{$node[\"Set Extract Meta Payload\"].json.message_text}}\",\n  \"user_id\": \"{{$node[\"Set Extract Meta Payload\"].json.sender_id}}\",\n  \"business\": \"autos_soler\",\n  \"port\": 5002\n}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Bot Dispatch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 220],
      "id": "e5f6a7b8-c9d0-4e1f-9a2b-3c4d5e6f7081",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "66666666-6666-4666-8666-666666666666",
              "name": "response_text",
              "value": "={{$node[\"Bot Dispatch\"].json.respuesta || $node[\"Bot Dispatch\"].json.reply || 'Gracias por tu mensaje, en breve te atenderemos.'}}",
              "type": "string"
            },
            {
              "id": "77777777-7777-4777-8777-777777777777",
              "name": "recipient_id",
              "value": "={{$node[\"Set Extract Meta Payload\"].json.sender_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Build Meta Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 220],
      "id": "f6a7b8c9-d0e1-4f2a-9b3c-4d5e6f708192"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/me/messages?access_token={{$env.META_ACCESS_TOKEN}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{$node[\"Set Build Meta Payload\"].json.recipient_id}}\" },\n  \"message\": { \"text\": \"{{$node[\"Set Build Meta Payload\"].json.response_text}}\" },\n  \"messaging_type\": \"RESPONSE\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Send Meta Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 220],
      "id": "07b8c9d0-e1f2-4a3b-9c4d-5e6f708192a3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Extract Meta Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Extract Meta Payload": {
      "main": [
        [
          {
            "node": "IF page_id is Autos Soler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF page_id is Autos Soler": {
      "main": [
        [
          {
            "node": "CRM Upsert Conversation",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "CRM Upsert Conversation": {
      "main": [
        [
          {
            "node": "Bot Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Dispatch": {
      "main": [
        [
          {
            "node": "Set Build Meta Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Build Meta Payload": {
      "main": [
        [
          {
            "node": "Send Meta Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18b9c0d1-e2f3-4a4b-9c5d-6e7f80918273",
  "id": "29c0d1e2-f3a4-4b5c-9d6e-7f8091827384",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "soler",
      "id": "3ad1e2f3-a4b5-4c6d-9e7f-80918273849f"
    },
    {
      "name": "autos",
      "id": "4be2f3a4-b5c6-4d7e-9f80-918273849fa0"
    }
  ]
}
