bac-loyalty-crm/n8n-workflows/agente-8-gestor-inventario-crm.json
{
  "name": "Agente 8 - Gestor de inventario CRM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "trigger",
      "name": "Cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [120, 400]
    },
    {
      "parameters": {
        "jsCode": "const w = new Date(); w.setMinutes(0,0,0);\nreturn [{ json: { batch_id: `inv-${w.toISOString().replace(/[:.]/g,'-')}`, ventana: w.toISOString() } }];"
      },
      "id": "init",
      "name": "Init batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZOLUTIUM_BASE_URL}}/inventory/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "include", "value": "stock,reservations,sales_velocity" },
            { "name": "limit", "value": "500" }
          ]
        },
        "options": { "timeout": 30000, "retry": { "limit": 3, "waitBetween": 2000 } }
      },
      "id": "get-inventario",
      "name": "GET inventario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 300],
      "credentials": { "httpHeaderAuth": { "id": "zolutium-api", "name": "Zolutium API" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZOLUTIUM_BASE_URL}}/loyalty/redemptions/pending",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 30000, "retry": { "limit": 3, "waitBetween": 2000 } }
      },
      "id": "get-canjes",
      "name": "GET canjes pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 500],
      "credentials": { "httpHeaderAuth": { "id": "zolutium-api", "name": "Zolutium API" } }
    },
    {
      "parameters": {
        "jsCode": "// Detecta items en riesgo: stock bajo, alta velocidad, canjes pendientes que no se pueden cubrir\nconst items = $('GET inventario').first().json?.data || [];\nconst canjes = $('GET canjes pendientes').first().json?.data || [];\nconst canjesPorItem = canjes.reduce((acc, c) => { acc[c.item_id] = (acc[c.item_id] || 0) + c.qty; return acc; }, {});\n\nconst alertas = [];\nconst reabastecimientos = [];\nconst cancelaciones = [];\n\nfor (const it of items) {\n  const reservadoLoyalty = canjesPorItem[it.id] || 0;\n  const disponibleReal = it.stock - it.reservations - reservadoLoyalty;\n  const diasCobertura = it.sales_velocity ? Math.floor(it.stock / it.sales_velocity) : 999;\n\n  if (disponibleReal < 0) {\n    cancelaciones.push({ item_id: it.id, sku: it.sku, faltante: Math.abs(disponibleReal), nombre: it.nombre });\n  }\n  if (diasCobertura < 3 && it.stock > 0) {\n    alertas.push({ item_id: it.id, sku: it.sku, dias_cobertura: diasCobertura, velocidad: it.sales_velocity });\n  }\n  if (diasCobertura < 7 && it.auto_reorder !== false) {\n    reabastecimientos.push({\n      item_id: it.id,\n      sku: it.sku,\n      cantidad_sugerida: Math.ceil((it.sales_velocity || 1) * 14),\n      proveedor_preferido: it.proveedor_id\n    });\n  }\n}\n\nreturn [{ json: {\n  batch_id: $('Init batch').first().json.batch_id,\n  resumen: {\n    items_total: items.length,\n    canjes_pendientes: canjes.length,\n    alertas: alertas.length,\n    reabastecimientos: reabastecimientos.length,\n    cancelaciones: cancelaciones.length\n  },\n  alertas, reabastecimientos, cancelaciones\n}}];"
      },
      "id": "analizar",
      "name": "Analizar inventario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{$json.resumen.cancelaciones}}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        }
      },
      "id": "if-cancelar",
      "name": "Hay canjes a cancelar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZOLUTIUM_BASE_URL}}/loyalty/redemptions/cancel-batch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Idempotency-Key", "value": "={{$json.batch_id}}-cancelaciones" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"batch_id\": \"{{$json.batch_id}}\",\n  \"items\": {{ JSON.stringify($json.cancelaciones) }},\n  \"razon\": \"stock_insuficiente\"\n}",
        "options": { "timeout": 30000, "retry": { "limit": 3, "waitBetween": 5000 } }
      },
      "id": "cancelar-canjes",
      "name": "Cancelar canjes insuficientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 280],
      "credentials": { "httpHeaderAuth": { "id": "zolutium-api", "name": "Zolutium API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZOLUTIUM_BASE_URL}}/inventory/reorders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Idempotency-Key", "value": "={{$json.batch_id}}-reorders" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"batch_id\": \"{{$json.batch_id}}\",\n  \"items\": {{ JSON.stringify($json.reabastecimientos) }}\n}",
        "options": { "timeout": 30000, "retry": { "limit": 3, "waitBetween": 5000 } }
      },
      "id": "crear-reorders",
      "name": "Crear ordenes reabastecimiento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 500],
      "credentials": { "httpHeaderAuth": { "id": "zolutium-api", "name": "Zolutium API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZOLUTIUM_BASE_URL}}/inventory/audit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Idempotency-Key", "value": "={{$json.batch_id}}-audit" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 30000, "retry": { "limit": 3, "waitBetween": 5000 } }
      },
      "id": "auditar",
      "name": "Auditar batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 400],
      "credentials": { "httpHeaderAuth": { "id": "zolutium-api", "name": "Zolutium API" } }
    }
  ],
  "connections": {
    "Cada hora": { "main": [[{ "node": "Init batch", "type": "main", "index": 0 }]] },
    "Init batch": {
      "main": [[
        { "node": "GET inventario", "type": "main", "index": 0 },
        { "node": "GET canjes pendientes", "type": "main", "index": 0 }
      ]]
    },
    "GET inventario": { "main": [[{ "node": "Analizar inventario", "type": "main", "index": 0 }]] },
    "GET canjes pendientes": { "main": [[{ "node": "Analizar inventario", "type": "main", "index": 0 }]] },
    "Analizar inventario": { "main": [[{ "node": "Hay canjes a cancelar?", "type": "main", "index": 0 }]] },
    "Hay canjes a cancelar?": {
      "main": [
        [{ "node": "Crear ordenes reabastecimiento", "type": "main", "index": 0 }],
        [{ "node": "Cancelar canjes insuficientes", "type": "main", "index": 0 }]
      ]
    },
    "Cancelar canjes insuficientes": { "main": [[{ "node": "Crear ordenes reabastecimiento", "type": "main", "index": 0 }]] },
    "Crear ordenes reabastecimiento": { "main": [[{ "node": "Auditar batch", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveDataErrorExecution": "all" },
  "tags": [{ "name": "bac-loyalty" }, { "name": "inventario" }, { "name": "agente-8" }]
}
