bac-loyalty-crm/n8n-workflows/notify-slack-on-error.json
{
  "name": "Notify Slack on Error (workflow global de errores)",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Resume el error de forma legible para Slack\nconst err = $input.first().json;\nconst exec = err.execution || {};\nconst wf = err.workflow || {};\nconst node = err.error?.node?.name || 'desconocido';\nconst msg = (err.error?.message || 'sin mensaje').slice(0, 500);\nconst stack = (err.error?.stack || '').slice(0, 1000);\n\nreturn [{\n  json: {\n    workflow_name: wf.name,\n    workflow_id: wf.id,\n    execution_id: exec.id,\n    execution_url: exec.url,\n    nodo: node,\n    mensaje: msg,\n    stack,\n    mode: exec.mode,\n    started_at: exec.startedAt,\n    severity: msg.match(/401|403|invalid_api_key/i) ? 'P1-credencial' :\n              msg.match(/429|rate.?limit/i) ? 'P2-rate-limit' :\n              msg.match(/timeout|ETIMEDOUT|ECONN/i) ? 'P2-red' :\n              msg.match(/Unexpected token|JSON/i) ? 'P3-parsing' :\n              'P4-otro'\n  }\n}];"
      },
      "id": "resumir",
      "name": "Resumir error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_ERRORS}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":rotating_light: Error en n8n — {{$json.workflow_name}}\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": \":rotating_light: {{$json.severity}} — {{$json.workflow_name}}\" }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"*Nodo:*\\n{{$json.nodo}}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Modo:*\\n{{$json.mode}}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Inicio:*\\n{{$json.started_at}}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Execution:*\\n<{{$json.execution_url}}|abrir>\" }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Mensaje:*\\n```{{$json.mensaje}}```\" }\n    }\n  ]\n}",
        "options": { "timeout": 15000, "retry": { "limit": 3, "waitBetween": 3000 } }
      },
      "id": "post-slack",
      "name": "POST Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZOLUTIUM_BASE_URL}}/audit/n8n-errors",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Idempotency-Key", "value": "={{$json.execution_id}}" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000, "retry": { "limit": 2, "waitBetween": 3000 } }
      },
      "id": "audit-zolutium",
      "name": "Persistir auditoria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 480],
      "credentials": { "httpHeaderAuth": { "id": "zolutium-api", "name": "Zolutium API" } }
    }
  ],
  "connections": {
    "Error Trigger": { "main": [[{ "node": "Resumir error", "type": "main", "index": 0 }]] },
    "Resumir error": {
      "main": [[
        { "node": "POST Slack", "type": "main", "index": 0 },
        { "node": "Persistir auditoria", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1", "saveDataErrorExecution": "all" }
}
