bac-loyalty-crm/n8n-templates/tpl-agente-informe-diario.json
{
  "name": "TPL - Informe Diario (rellenar)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * *" }]
        }
      },
      "id": "trigger",
      "name": "Cada dia 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [120, 400]
    },
    {
      "parameters": {
        "jsCode": "const hoy = new Date(); hoy.setUTCHours(0,0,0,0);\nconst ayer = new Date(hoy.getTime() - 24*60*60*1000);\nreturn [{ json: { batch_id: `informe-${hoy.toISOString().slice(0,10)}`, desde: ayer.toISOString(), hasta: hoy.toISOString() } }];"
      },
      "id": "rango",
      "name": "Rango de ayer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ZOLUTIUM_BASE_URL}}/metrics/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "from", "value": "={{$json.desde}}" },
            { "name": "to", "value": "={{$json.hasta}}" }
          ]
        },
        "options": { "timeout": 60000, "retry": { "limit": 3, "waitBetween": 5000 } }
      },
      "id": "get-metricas",
      "name": "GET metricas dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 400],
      "credentials": { "httpHeaderAuth": { "id": "zolutium-api", "name": "Zolutium API" } }
    },
    {
      "parameters": {
        "modelId": "claude-opus-4-7",
        "messages": {
          "values": [
            { "role": "system", "content": "Eres analista ejecutivo del CRM BAC Loyalty. Devuelve EXCLUSIVAMENTE JSON con: {resumen_ejecutivo:string, kpis:[{nombre,valor,delta_vs_ayer}], alertas:[string], recomendaciones:[string], confianza:number}. Sin markdown." },
            { "role": "user", "content": "=Genera el informe diario con estas metricas:\n{{ JSON.stringify($json) }}" }
          ]
        },
        "options": { "maxTokensToSample": 3000, "temperature": 0.2 }
      },
      "id": "ia-informe",
      "name": "Claude redacta informe",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [760, 400],
      "credentials": { "anthropicApi": { "id": "anthropic-bac", "name": "Anthropic BAC" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.content?.[0]?.text || $input.first().json?.text || '';\nfunction extract(s){ const m = s.match(/```(?:json)?\\s*([\\s\\S]*?)```/); if(m) return m[1]; const i=s.indexOf('{'), j=s.lastIndexOf('}'); return (i>=0 && j>i) ? s.slice(i,j+1) : s; }\nlet a; try { a = JSON.parse(extract(raw)); } catch(e){ return [{ json: { __invalid: true, error: e.message, raw } }]; }\nreturn [{ json: { ...a, batch_id: $('Rango de ayer').first().json.batch_id, generado: new Date().toISOString() } }];"
      },
      "id": "validar",
      "name": "Validar JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{$json.__invalid}}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        }
      },
      "id": "if-invalido",
      "name": "Invalido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ZOLUTIUM_BASE_URL}}/reports/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Idempotency-Key", "value": "={{$json.batch_id}}" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 30000, "retry": { "limit": 3, "waitBetween": 5000 } }
      },
      "id": "guardar",
      "name": "Guardar informe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 320],
      "credentials": { "httpHeaderAuth": { "id": "zolutium-api", "name": "Zolutium API" } }
    },
    {
      "parameters": {
        "jsCode": "console.log('[informe] descartado:', JSON.stringify($input.first().json));\nreturn [{ json: $input.first().json }];"
      },
      "id": "log-descarte",
      "name": "Log descarte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 520]
    }
  ],
  "connections": {
    "Cada dia 7am": { "main": [[{ "node": "Rango de ayer", "type": "main", "index": 0 }]] },
    "Rango de ayer": { "main": [[{ "node": "GET metricas dia", "type": "main", "index": 0 }]] },
    "GET metricas dia": { "main": [[{ "node": "Claude redacta informe", "type": "main", "index": 0 }]] },
    "Claude redacta informe": { "main": [[{ "node": "Validar JSON", "type": "main", "index": 0 }]] },
    "Validar JSON": { "main": [[{ "node": "Invalido?", "type": "main", "index": 0 }]] },
    "Invalido?": {
      "main": [
        [{ "node": "Log descarte", "type": "main", "index": 0 }],
        [{ "node": "Guardar informe", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1", "saveDataErrorExecution": "all" }
}
